[submodule "themes/oranges"]
	path = themes/oranges
	url = https://github.com/zchengsite/hexo-theme-oranges.git
[submodule "themes/archer"]
	path = themes/archer
	url = https://github.com/fi3ework/hexo-theme-archer.git
